*{padding: 0; margin: 0; bottom: 0;}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

body {font-family: 'Nunito', sans-serif;}

/*==============ПЕРЕМЕННЫЕ=============*/
$fz_1: 16px;
$fz_2: 24px;
$fz_3: 36px;
$fz_4: 72px;
$color_purple: #F9BDBD;
$color_yellow: #F7DEA6;
$color_blue: #A8DCEC;
$color_logo: #3E3F43;
$color_text_nav: #595959;
$color_text_title: #3E3F43;
$color_orange: #DAA520;
$color_text_bg: #E9E9E9;

/*==============ШАБЛОНЫ=============*/
%text_bg {
    color: $color_text_bg;
    font-size: $fz_4;
    font-weight: 800;
}

%text_title {
    color: $color_text_title;
    line-height: 49px;
    font-size: $fz_3;
    font-weight: 700;
}

%btn-orange {
    background: $color_orange;
    color: #fff;
    height: 50px;
    font-weight: 700;
    font-style: $fz_1;
}

%btn-outline {
    border-radius: 4px;
    width: 123px;
    height: 40px;
    border: 1px solid #3E3F43;
    color: $color_text_title;
    font-weight: 600;
    font-size: 18px;
}

.container-fluid {max-width: 976px; z-index: 10;}

header {
    .navbar {
        z-index: 10;
        --bs-navbar-padding-y: 1.25rem;
        --bs-navbar-nav-link-padding-x: 1.07rem;
        .nav-link {
            &.active {
                color: $color_orange;
                font-weight: 800;
            }
        }
    }
    .navbar__btn {
        border-radius: 8px;
        color: $color_text_title;
        font-weight: 700;
        font-size: $fz_1;
        width: 137px;
        height: 40px;
        border: 1px solid #3E3F43;
        background-color: unset;
        padding: 0;
    }

}
.navbar-brand {
    font-size: $fz_2;
    font-weight: 700;
    letter-spacing: 0.25em;
    color: $color_logo !important;
}

footer {
    background: linear-gradient(180deg, #F0F0F0 0%, #ECECEC 52.77%, #E9E9E9 100%);
    
    .footer-bg-img {
        bottom: 0;
        position: relative;
        img {
            position: absolute;
            right: 19.79vw;
        }
    }

    .footer-line1 {
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        height: 174px;
        padding-bottom: 35px;

        .footer-line1__text {
            h4 {
                font-size: 18px;
                font-weight: 700;
                margin: 0;
            }
            p{margin: 0;}
        }
        .footer-line1__form {
            input {
                &::placeholder {color: #afafaf;}
                background-color: #fff;
                border: 1px solid #DAA520;
            }
            button {
                @extend %btn-orange;
                width: 120px;
                height: 40px;
            }
        }
    }
    .footer-line2 {
        .footer-line2__content {
            h4 {
                font-size: 18px;
                font-weight: 600;
                color: #333333;
                margin-bottom: 16px;
            }
            a {
                text-decoration: none;
                color: unset;
                margin-bottom: 16px;
                &:hover {
                    text-decoration: underline;
                }
            }
            z-index: 10;
            border-top: 1px solid #C4C4C4;
            padding: 24px 0 0 0;
            color: #8d8d8d;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 30px;

            .footer-line2__col-2 {
                padding-top: 8px;
            }
        }
    }
    .footer-line3 {
        font-size: 12px;
        color: #8d8d8d;
        margin: 0;
        padding-bottom: 24px;
    }
}
main {
    .main-display__bg {
        z-index: -1;
        width: 100%;
        height: 800px;
        position: absolute;
        top: 0;
        .bg-purple {
            background: $color_purple;
            background-position: right top;
            width: 38.54vw;
            height: 800px;
            position: absolute;
            bottom: 86px;
            border-radius: 0px 0px 0px 120px;
            top: 0;
        }
    }
    .main-display {
        min-height: 710px;
        z-index: 10;
        .btn {@extend %btn-orange; max-width: 185px;}
        h1 {
            font-weight: 700;
            font-size: 72px;
            margin-bottom: 16px;
        }
        h2 {
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 16px;
            span {font-weight: 700;}
        }
        .main-display__bg-img {
            z-index: 5;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: end;
            bottom: 50px;
        }
        .container-fluid {padding-top: 85px;}

        .bg-logo {
            background: url(../img/bg-logo.png) no-repeat;
            width: 400px;
            height: 400px;
            z-index: 0;
            position: absolute;
            top: 300px;
            left: 42.71vw;
        }
    }
    .about-us-display {
        margin-top: 144px;
        padding-bottom: 120px;
        .about-us-display__content {
            h2 {
                font-size: $fz_3;
                font-weight: 800;
                margin-bottom: 16px;
                span {font-weight: 600;}
            }
            h3 {font-size: $fz_2; font-weight: 600;}
            .bg {
                height: 388px;
                position: relative;
                .bg-yellow {
                    z-index: -1;
                    position: absolute;
                    width: 278px;
                    height: 388px;
                    background-color: $color_yellow;
                    border-radius: 0px 120px;
                }
            }
            .row2 {
                margin-top: 170px;
                .col-3 {
                    height: 384px;
                }
            }   
        }
        .bg-logo {
            background: url(../img/bg-logo.png) no-repeat;
            width: 400px;
            height: 400px;
            z-index: 0;
            position: absolute;
            // bottom: 10px;
            top: 400px;
            left: -68px;
        }
        .bg3 {
            background: url(../img/bg3.png) no-repeat right;
            width: 100%;
            height: 384px;
            position: absolute;
            top: 700px;
            z-index: -1;
            
        }
    }
    .how-it-works-display__content {
        .number {
            h1 {
                font-weight: 600;
                font-size: 96px;
                color: #FDEEEE;
                top: 30px;
                left: 7px;
                z-index: -1;
            }
        }
        h2 {
            font-weight: 700;
            font-size: 24px;
            margin-top: 20px;
        }
        .btn {
            @extend %btn-orange;
            max-width: 212px;
            margin: auto;
            margin-top: 64px;
        }
    }
    .categories-display {
        margin-top: 120px;
        .category {
            border-radius: 0px 120px;
            padding: 24px 16px 24px 0;
            height: 400px;
            h2 {
                margin-left: 16px;
                font-weight: 800;
                font-size: 24px;
                color: #3E3F43;
            }
            .btn {
                @extend %btn-outline;
            }
        }
        .purple {
            background-color: $color_purple;
        }
        .yellow {
            background-color: $color_yellow;
        }
        .blue {
            background-color: $color_blue;
        }
    }
    .testimony-display {
        .testimony-display__content {
            margin-top: 120px;
            margin-bottom: 120px;
            .image img {
                border-radius: 80px 0px;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
            }
            .reviews {
                .slide {
                    height: 384px;
                    .comment {
                        border: 1px solid #A8DCEC;
                        border-radius: 0px 80px;
                        max-height: 280px;
                        height: 100%;
                        padding: 54px 16px;
                        .comment__text p {
                            font-weight: 600;
                            font-size: 14px;
                            color: #3E3F43;
                            margin-top: 16px;
                        }
                        .comment__author {
                            img {border-radius: 50px;}
                            p {
                                color: #AFAFAF;
                                font-weight: 600;
                                font-size: 12px;
                                margin: 0;
                                padding-left: 8px;
                            }
                        }
                    }
                }
                .slick-arrow {
                    position: absolute;
                    top: 300px;
                    z-index: 10;
                    height: 19px;
                    display: flex;
                    font-size: 14px;
                    border: none;
                    background-color: unset;
                    &.slick-next {
                        right: 0;
                        &::after {padding-left: 8px; content: url(../img/icons/slider-arrow-next.svg);}
                    }
                    &.slick-prev {
                        &::before {padding-right: 8px; content: url(../img/icons/slider-arrow-prev.svg);}
                    }
                }
                .slick-dots {
                    z-index: 10;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    width: 180px;
                    list-style: none;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    li {
                        width: 40px;
                        height: 8px;
                        background-color: #E5E5E5;
                        border-radius: 8px;
                        button {display: none;}
                    }
                    .slick-active {background-color: #DAA520;}
                }
            }
        }
    }
    .title-line {
        margin-bottom: 40px;
        h1 {@extend %text_bg;}
        h2 {@extend %text_title;}
        hr {
            margin-left: 16px;
            width: 100%;
            height: 1px;
            color: #000;
        }
    }
}